# django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
migrations
!migrations/__init__.py
static

# python
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# celery
celerybeat-schedule.*

# Code editors
.vscode/*
.vscode/
.idea/
.idea/*

# Virtual env
venv/
venv
env/
env
.venv/
.venv

# Project settings
*.secret
